html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}

.section{
  height: 100%;
  width: 33.33%;
  background: blue;
  float: left;
}

.marine {
  background: teal;
}

.green {
  background: green;
}

.space {
  width: 100%;
  height: 80%;
}

.placeholder {
  width: 100%;
  height: 20%;
  background: red;
}